<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExileClipboardListener.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExileClipboardListener.Properties.Settings>
            <setting name="StashMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TolerancePoorTo" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ToleranceAverageFrom" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="ToleranceAverageTo" serializeAs="String">
                <value>74</value>
            </setting>
            <setting name="ToleranceGoodFrom" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="StashDuplicates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RatingMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StashPopUpMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StashPopUpSeconds" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CollectionPopUpMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CollectionPopUpSeconds" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DefaultLeagueId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultCharacterId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultTabId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>The Butcher</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Fresh Meat</value>
            </setting>
            <setting name="CurrencyTab1" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrencyTab2" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrencyTab3" serializeAs="String">
                <value />
            </setting>
            <setting name="MapTab1" serializeAs="String">
                <value />
            </setting>
            <setting name="MapTab2" serializeAs="String">
                <value />
            </setting>
            <setting name="MapTab3" serializeAs="String">
                <value />
            </setting>
            <setting name="QuickLeagues" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GemTab1" serializeAs="String">
                <value />
            </setting>
            <setting name="GemTab2" serializeAs="String">
                <value />
            </setting>
            <setting name="GemTab3" serializeAs="String">
                <value />
            </setting>
        </ExileClipboardListener.Properties.Settings>
    </userSettings>
</configuration>